[mysqld]
collation-server = utf8_unicode_ci
character-set-server = utf8
sql_mode = ""
innodb_strict_mode = "0"
default-time-zone = "Europe/Moscow"
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0
innodb_buffer_pool_size = 5G
thread_cache_size = 128
transaction-isolation = READ-COMMITTED
sync_binlog = 0
default_authentication_plugin = mysql_native_password
max_connections = 500
table_open_cache = 4096
innodb_open_files = 4096
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_thread_concurrency = 32
key_buffer_size = 32M
join_buffer_size = 1M
sort_buffer_size = 16M

tmpdir = /dev/shm

[mysql]
default-character-set = utf8